<div>
    <h2>Product Details</h2>
    <dl>
        <dt>Name</dt>
        <dd>{{this.searchedProduct.Name}}</dd>
        <dt>Price</dt>
        <dd>{{searchedProduct.Price}}</dd>
        <dt>Photo</dt>
        <dd><img [src]="searchedProduct.Photo" width="100" height="100"> </dd>
    </dl>
</div>   
