<div class="container-fluid">
     <div class="row">
         <div class="col-3">
             <h2>Register</h2>
             <form name="frmRegister" (submit)="frmRegister.value" ngModel #frmRegister="ngForm" class="form-group">
                 <dl>
                   <dt>Name</dt>
                   <dd>
                       <input  required minlength="4"maxlength="10" type="text" name="txtName"ngModel #txtName="ngModel"class="form-control">
                   </dd>
                   <dd *ngIf="txtName.invalid">
                    <span *ngIf="txtName.errors.required" class="text-danger">Please Enter Your Name</span>
                    <span class="text-danger" *ngIf="txtName.errors.minlength">Name is too short</span>
                    <span class="text-danger" *ngIf="txtName.errors.maxlength">Name is too long</span>
                 </dd> 
                   <dt>Mobile No</dt>
                   <dd>
                       <input required pattern="\+91[0-9]{10}" type="text"name="txtMobile" ngModel #txtMobile="ngModel"class="form-control">
                   </dd>
                   <dd *ngIf="txtMobile.invalid ">
                       <span class="text-danger" *ngIf="txtMobile.errors.required">Please enter your mobile No</span>
                       <span class="text-danger" *ngIf="txtMobile.errors.pattern">enter  mobile in correct format</span>
                   </dd>
                   <dt>Select City</dt>
                   <dd>
                       <select (change)="onCityChange(lstcities.value)" name="lstcities" ngModel #lstcities="ngModel" class="form-control">
                           <option value="notcity">Select a city</option>
                           <option value="delhi">Delhi</option>
                           <option value="hyd">Hydrabad</option>
                       </select>
                   </dd>
                   <dd>
                       <span *ngIf="cityError" class="text-danger">Select a city</span>
                   </dd>
                   <dt>Enter an Even Number</dt>
                   <dd>
                       <input (blur)="onEvenChange(txtEven.value)" name="txtEven" ngModel #txtEven="ngModel" class="form-control">
                   </dd>
                   <dd>
                       <span class="text-danger" *ngIf="evenError">Not An Even Number</span>
                   </dd>
                 </dl>                 
             </form>
             <button   class="btn btn-primary">Register</button>
             <button [disabled]="frmRegister.pristine" class="btn btn-success">Save</button>

         </div>
         <div class="col-9">
             <h2>Validation Services</h2>
             <table class="table table-hover">
                 <tr>
                     <th>Properties</th>
                     <th>Status</th>
                 </tr>
                 <tr>
                     <td>Pristine</td>
                     <td>{{frmRegister.pristine}}</td>
                 </tr>
                 <tr>
                    <td>Dirty</td>
                    <td>{{frmRegister.dirty}}</td>
                </tr>
                <tr>
                    <td>Valid</td>
                    <td>{{frmRegister.valid}}</td>
                </tr>
                <tr>
                    <td>Invalid</td>
                    <td>{{frmRegister.invalid}}</td>
                </tr>
                <tr>
                    <td>Submitted</td>
                    <td>{{frmRegister.submitted}}</td>
                </tr>
             </table>
         </div>
     </div>
</div>
