<div class="container-fluid">
    <div class="row">
        <h2>Register Product</h2>
        <div class="col-3">
          <form (submit)="onSubmit(frmRegister.value)" [formGroup]="frmRegister">
              <dl>
                  <dt>Name</dt>
                  <dd>
                      <input formControlName="txtName" class="form-control">
                  </dd>
                  <dt>Shipped To</dt>
                  <dd>
                      <select class="form-control" formControlName="lstCities">
                          <option>Delhi</option>
                          <option>Hydrabad</option>
                      </select>
                  </dd>
                  <dt>InStock</dt>
                  <dd>
                      <input formControlName="InStock" type="checkbox" class="checkbox">Yes
                  </dd>
              </dl>
              <button  class="btn btn-primary btn-lg form-control">Submit</button>
          </form>
          
        </div>
        
        <div class="col-4">
            <h2>Product Details</h2>
           <dl>
               <dt>Name</dt>
               <dd>{{frmRegister.value.txtName}} </dd>
                <dt>Shipped To</dt>
                <dd>{{frmRegister.value.lstCities}} </dd>
                <dt>Instock</dt>
                <dd>
                    {{(frmRegister.value.InStock==true)?'available':'out of stock'}}
                </dd>

           </dl>
        </div>
    </div>
</div>
