<div class="container-fluid">
  <h2 class="bg-danger text-white p-2 text-center">Amazon</h2>
  <div class="row">
    <div class="col-3">
      <ul class="list-unstyled">
        <li><a routerLink='home'class="btn  btn-danger w-75 mt-2">Home</a></li>
        <li><a routerLink='electronics'class="btn  btn-danger w-75 mt-2">Electronics</a></li>
        <li><a routerLink='fashion'class="btn  btn-danger w-75 mt-2">Fashion</a></li>
        <li><a routerLink='footwear'class="btn  btn-danger w-75 mt-2">Footwear</a></li>
        <li><a routerLink="categories" class="btn  btn-danger w-75 mt-2">Categories</a></li>
        <li><a routerLink="manager" class="btn  btn-danger w-75 mt-2">Manager</a></li>
      </ul>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>