<div class="container-fluid">
    <h2>Manager Login</h2>
     <dl>
         <dt>User Name</dt>
         <dd><input type="text"></dd>
         <dt>Password</dt>
         <dd><input type="password"></dd>
         <dt>Verify Code</dt>
         <button (click)="NewCode()">New code</button>
         <dd>{{code}}</dd>
     </dl>
     <button >Login</button>
     <div>
         <ol>
             <li *ngFor="let item of products">
                {{item.Name}}
             </li>
         </ol>
     </div>
</div>
