<div class="container">
    <ul>
        <dt>Category</dt>
        <dd>{{category}} </dd>
        <dt>Model</dt>
        <dd>{{model}} </dd>
        <dt>Price</dt>
        <dd>{{price}}</dd>
    </ul>
</div>