<div>
  <h2>Prooduct List</h2>
  <div class="row">
    <div class="col-4">
      <table  class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>photo</th>
        </tr>
        <tr *ngFor="let item of products">
            <td><button (click)=GetDetails(item) class="btn btn-link">{{item.Name}}</button> </td>
            <td>{{item.Price}}</td>
            <td><img [src]="item.Photo" height="50" width="50"></td>
        </tr>    
    </table>
    </div>
    <div class="col-8">
       <router-outlet></router-outlet>
    </div>
  </div>
    <a routerLink="/categories">Back To Categories</a>
</div>

