<div class="container-fluid">
    <div class="row">
        <div class="col-4">
          <h2>Register Form</h2>
           <form #frmRegister="ngForm" class="form-group" (submit)="onFormSubmit(frmRegister.value)">
             <dl>
                 <dt>Name</dt>
                 <dd>
                     <input name="txtName" ngModel #txtName="ngModel" class="form-control">
                 </dd>
                 <dt>Price</dt>
                 <dd>
                     <input name="txtPrice" ngModel #txtPrice='ngModel' class="form-control">
                 </dd>
                 <dt>City</dt>
                 <dd>
                     <select name="citieslst" ngModel #citieslst="ngModel" class="form-control">
                         <option>Delhi</option>
                         <option>Mumbai</option>
                     </select>
                 </dd>
                 <button class="btn btn-outline-primary">Submit</button>
             </dl>
           </form>
        </div>
        <div class="col-4">
          <h3>Details[using form reference]</h3>
          <dl>
           <dt>Name</dt>
           <dd>{{frmRegister.value.txtName}}</dd>
           <dt>Price</dt>
           <dd>{{frmRegister.value.txtPrice}}</dd>
           <dt>city</dt>
           <dd>{{frmRegister.value.citieslst}}</dd>
         </dl>
        </div>
        <div class="col-4">
           <h3>Details[using control reference] </h3>
           <dl>Name  </dl>
           <dd>{{txtName.value}}</dd>
           <dl>Price</dl>
           <dd>{{txtPrice.value}}</dd>
           <dl>City Name</dl>
           <dd>{{citieslst.value}}</dd>
        </div>
    </div>
</div>
