<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <h2>Register Product</h2>
         <form [formGroup]="frmRegister" class="form-group">
             <h5>Basic Details</h5>
          <dl>
              <dt>Name</dt>
              <dd>
                  <input formControlName="Name" class="form-control">
              </dd>
              <dt>Price</dt>
              <dd>
                  <input formControlName="Price" class="form-control">
              </dd>
          </dl>
          <div formControlName="frmDetails">
              <h5>Stock Details</h5>
                <dl>
                    <dt>CIty</dt>
                    <dd>
                        <select class="form-control">
                            <option>Delhi</option>
                            <option>Mumbai</option>
                            <option>Hydrabad</option>  
                        </select>
                    </dd>
                    <dt>In Stock</dt>
                    <dd>
                        <input type="checkbox">Yes
                    </dd>
                </dl>
          </div>
         </form>
        </div>
          <div class="col-9">
              <dl>
                  <h5>Basic Details</h5>
                  <dt>Name</dt>
                  <dd>
                      {{frmRegister.value.Name}}
                  </dd>
                  <dt>Price</dt>
                  <dd>
                      {{frmRegister.value.Price}}
                  </dd>
                  <h5>StockDetails</h5>
                  <dt>City</dt>
                  <dd>
                      {{frmRegister.value.City}}
                  </dd>
                  <dt>InStock</dt>
                  <dd>
                      {{(frmRegister.value.InStock==true)?"Available":"Out Of Stock "}}
                  </dd>
              </dl>
          </div>
        </div>
    </div>

